.a{
    background-color: #ffffff !important;
    color: #000000 !important;
}
.b{
    background-color: #000000 !important;
    color: #ffffff !important;
}
.c{
    background-color:  #ffffff !important;
    color:#0080ed !important;
}